---
---

$body-color: #FFFFFF;

$accent-color: #c62641;

$header-title-color: #000000;
$app-title-color: #000000;
$app-price-color: #c62641;
$app-description-color: #444444;

$feature-title-color: #c62641;
$feature-text-color: #4b5563;
$footer-text-color: #444444;

$header_color: #FFFFFF;
$header_transparency: 1.0;

$image-overlay-color: #FFFFFF;
$image-overlay-transparency: 0;

$feature-icons-foreground-color: #c62641;
$feature-icons-background-color: transparent;

$social-icons-foreground-color: #c62641;
$social-icons-background-color: transparent;

@import "base",
"layout",
"github-markdown",
"social";
